body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    padding: 15px;
    background-color: #a2c1c7;
    /*border: red solid 2px;*/
}

.links{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 16px;


}

.link_a{
    padding: 20px

}
.menu{
    
    
}
.icone_responsivo {
    width: 20px;
    
}
.menu_hamburguer{
    display: none;
    
}

.icon_menu {
    color: white;
    
    
}

header {
    background-image:url(/img/foto-banner.jpg);
    filter: grayscale();
    height: 400px;
    color: white;
    text-align: center;
    padding: 20px;
    
    
}

h1 {
    padding: 8px;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 54px;
}
.btn_header {
    margin-top: 50px;
    background: #8f8d8d;
    color: #fff;
    padding: 15px;
    font-weight: 900;
    font-size: 11px;
    border: none
    
}


/* max width é até x pixels e o min width é a partir de x pixels*/
@media screen and (max-width:600px) {
    .menu_hamburguer {
        padding: 0rem;
       /* height: 1rem;*/
        display: flex;
        justify-content: flex-end;
        background-color: #a2c1c7;
        
   }
    .links {
        display: none;
    }

    .icon_menu {
        border: white solid 2px;
        padding: 13px;
        /*height: 1rem*/
    }

    h1{
        margin-top: auto;
    }

    ..navbar{
        padding: 0rem;
        }
}
