/**--- RESET ---**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

}

body {
    font-family: 'Nunito', sans-serif;
    
}

li, 
a {
    list-style:  none;
    text-decoration: none;
    color: inherit
}

/**--- NAV RESPONSIVO ---**/
.div_navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #a2c1c7;
    
}

.navbar{
    background-color: #a2c1c7;
    padding: 0.3em;
    /* border: yellow solid 1px; */
}

.links {
    display: none;
    color: white; 
}

@media screen and (min-width: 600px){
    .links {
        display: flex;
        justify-content: flex-end;
        color: red;
        background-color: lawngreen;
    }
}

.menu{
    border: solid white 0.1em;
    padding:0.5em;
    color: white;
}

@media screen and (min-width: 600px){
    .menu {
        border: none;
    }
}

.menu_hamburguer {

}

@media screen and (min-width: 600px){
    .menu_hamburguer {
        display: none;
    }
}

/**--- HEADER ---**/

header{
    
    background: linear-gradient(to bottom, transparent 50%, #161616 99%), url(/img/foto-banner.jpg) no-repeat center center / cover;
    image-orientation: flip;
    filter: grayscale();
    height: 70vh;
    margin-bottom: 0;
}

@media screen and (min-width: 600px){
    header {
        background-size: 100%;
    }
}

.header_div {
    color: white;
    text-align: center;
    
    
}

.header_h1 {
    font-size: 4rem ;
    margin-bottom: 0.5rem;
    padding-top: 5rem;
}

.header_p{
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
}

/**--- BOTÃO HEADER ---**/

.div_header_btn {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.btn_header_style {
    background-color: slategrey;
    font-size: 0.5rem;
    color: white;
    border: none;
    padding: 1rem;
}

/**--- MAIN H2 e PARAGRAFOS ---**/

main{
    text-align: center;
    padding-top: 2.5rem;
    background: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, .9) 75%, rgba(22, 22, 22, .8) 100%);
    padding-bottom: 2rem;
}

.main_h2 {
    color: white;
    padding-top: 4rem;
}

.main_p{
    color: #929292;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

/**--- SECTION, IMAGENS, H3 e PARAGRAFOS ---**/
hr{
    display:none
}
/* @media*/ 

.bg_gradient{
    background: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, .9) 75%, rgba(22, 22, 22, .8) 100%);
    width: 90%;
    height: 80%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: auto;
    padding-top:1rem;
    padding-bottom:0;

}
section{
    text-align: center;
    padding-bottom: 0;
}
.section_img {
    width: 90%;
    height: 80%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 4rem;
    padding-bottom:0;
    filter: grayscale();
}

.p_siberia{
    color: #929292;
    padding: 1.5rem;
    text-align: center;
}

.section_h{
    color:white;
}

.p_section_black {
    color:#929292;
    padding: 1.5rem;
}

.div_groelandia{
    
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 0.85rem;
}